* {
	margin: 0px;
	padding: 0px;
}

#wrapper {
	width: 900px;
	margin: 0 auto;
}

.clear {
	clear: both;
}

#logo_container {
	float: left;
}

#site_description {
	float: right;
	width: 560px;
	font-size: 12px;
	color: #9b9fa0;
}

#head {
	padding: 25px 0px 25px 0px;
}

#menu_container a:hover{
	text-decoration: underline;
}

#menu_container {
	border: 1px solid #adadad;
	background: #db456b;
	border-radius: 20px;
	line-height: 25px;
	padding: 9px 17px;
}

#menu_container span {
	color: #f35f7f;
	font-size: 11px;
	padding-top: 20px;
	position: relative;
	top: 2px;
	font-family: Helvetica;
}

#menu_container span:before {
	content: "|";
	margin: 0px 8px;
}

#menu_container span:first-child:before {
	content: "";
	margin: 0px;
}

#menu_container a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

#search {
	display: block;
	float: right;
	width: 200px;
	height: 25px;
	line-height: 25px;
	border-radius: 25px;
	background: white;
	border: 1px solid #f0b4c3;
}

#search_text_input {
	width: 155px;
	margin-left: 16px;
	border: none;
}

#magnifier {
	position: relative;
	top: 2px;
}
