.block {
	background: #f5f7f6;
	border-radius: 5px;
	padding: 11px 15px;
	width: 170px;
	margin-bottom: 20px;
}

.block_title {
	font-size: 13px;
	color: #9b6a80;
	font-family: Helvetica;
	margin-bottom: 20px;
}

#middle {
	margin-top: 10px;
}

#left_column {
	float: left;
}

#navigation {
	background: #f5f6f8;
}

#navigation a {
	display: block;
	font-size: 11px;
	color: #77b0c4;
	margin-top: 7px;
	padding: 5px;
	position: relative;
	left: -5px;
}

#navigation a:hover {
	color: white;
	border-radius: 6px;
	background: #df3d6c;
	text-decoration: none;
}

#right_column {
	float: right;
}

#new_articles {
	float: right;
}

.block_item {
	margin-bottom: 30px;
}

.block_item_img {
	width: 70px;
	height: 45px;
	float: left;
	margin: 0px 5px 5px 0px;
}

.block_item_short_content {
	color: #77b0c4;
	font-family: Helvetica;
	font-size: 13px;
}

.block_item_short_content:hover {
	color: #9b6a80;
	text-decoration: none;
}

#advertising {
	border: 1px solid #cbc8c4;
	background: url("../img/advertising.png");
	display: block;
	width: 198px;
	height: 334px;
	margin-bottom: 20px;
}

#middle_column {
	margin: 0px 210px 0px 210px;
}

#gallery {
	background: #f5f7f6;
	line-height: 270px;
	border-radius: 20px;
}

#thumbnails {
	display: inline-block;
	height: 215px;
	width: 90px;
	padding: 0px 5px;
	vertical-align: middle;
}

#full_selected_item {
	background: blue;
	display: inline-block;
	height: 270px;
	width: 380px;
	vertical-align: middle;
	background: url("../img/flash_banner_image.png");
}

.thumbnail {
	margin-bottom: 5px;
	display: block;
	width: 90px;
	height: 50px;
}

.thumbnail:hover {
	cursor: pointer;
}

#news_section_1,
#news_section_2 {
	margin-top: 20px;
}

.col2 {
	width: 220px;
	display: inline-block;
	margin-left: 36px;
	vertical-align: top;
}

.col2_first_column {
	margin: 0px;
}

.col2_news_item_rubric,
.news_item_rubric {
	border-bottom: 1px dashed #bab8b9;
	color: #603e4e;
	font-size: 14pt;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.col2_news_item,
.news_item {
	margin-top: 25px;
}

.col2_first_news_item,
.first_news_item {
	margin-top: 0px;
}

.col2_news_item_title,
.news_item_title {
	color: #946579;
	display: inline-block;
}

.col2_news_item_title:hover,
.news_item_title:hover {
	text-decoration: none;
}

.col2_news_item_text,
.news_item_text {
	color: #9b9fa0;
	margin-top: 10px;
	font-size: 10pt;
}

.col2_news_item_img {
	display: block;
	margin: 0px 20px 10px 20px;
	height: 110px;
}

.news_item_content {
	margin-left: 5px;
	width: 290px;
	display: inline-block;
	vertical-align: top;
}

#footer {
	position: relative;
	top: -25px;
}

.footer_menu_item,
.footer_first_menu_item  {
	color: #946579;
	margin-left: 10px;
	display: inline-block;
	font-size: 10pt;
	vertical-align: top;
}

.footer_menu_item:hover,
.footer_first_menu_item:hover  {
	text-decoration: none;
}

.footer_first_menu_item {
	margin-left: 0px;
}

#statistic {
	display: inline-block;
	width: 90px;
	height: 31px;
	background: url("../img/statistic.png") no-repeat;
	float: right;
}