.block {
	background: #f5f7f6;
	border-radius: 5px;
	padding: 11px 15px;
	width: 170px;
	margin-bottom: 20px;
}

.block_title {
	font-size: 13px;
	color: #9b6a80;
	font-family: Helvetica;
	margin-bottom: 20px;
}

#middle {
	margin-top: 10px;
}

#left_column {
	float: left;
}

#navigation {
	background: #f5f6f8;
}

#navigation a {
	display: block;
	font-size: 11px;
	color: #77b0c4;
	margin-top: 7px;
	padding: 5px;
	position: relative;
	left: -5px;
}

#navigation a:hover {
	color: white;
	border-radius: 6px;
	background: #df3d6c;
	text-decoration: none;
}

#right_column {
	float: right;
}

#new_articles {
	float: right;
}

.block_item {
	margin-bottom: 30px;
}

.block_item_img {
	width: 70px;
	height: 45px;
	float: left;
	margin: 0px 5px 5px 0px;
}

.block_item_short_content {
	color: #77b0c4;
	font-family: Helvetica;
	font-size: 13px;
}

.block_item_short_content:hover {
	color: #9b6a80;
	text-decoration: none;
}

#advertising {
	border: 1px solid #cbc8c4;
	background: url("../img/advertising.png");
	display: block;
	width: 198px;
	height: 334px;
	margin-bottom: 20px;
}

#middle_column {
	margin: 0px 210px 0px 210px;
}

#gallery {
	background: #f5f7f6;
	line-height: 270px;
	border-radius: 20px;
	margin-bottom: 20px;
}

#thumbnails {
	display: inline-block;
	height: 215px;
	width: 90px;
	padding: 0px 5px;
	vertical-align: middle;
}

#full_selected_item {
	background: blue;
	display: inline-block;
	height: 270px;
	width: 380px;
	vertical-align: middle;
}

.thumbnail {
	margin-bottom: 5px;
	display: block;
	width: 90px;
	height: 50px;
}

.thumbnail:hover {
	cursor: pointer;
}

.col2 {
	width: 45%;
	display: inline-block;
	margin-left: 35px;
}

#first_column {
	margin: 0px;
}

.col_title {
	border-bottom: 1px dashed red;
}
